{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    Questionnaire (Page 3 of 3)
{% endblock %}

{% block content %}
    <style>
    .otree-timer {
        display: none;
    }
    </style>
    <div class="card card-body bg-light instructions" style="text-align:center">
        Finally, we would like to know some general things about you.
    </div>
     <table class="table">
    {% for field in form %}
        <tr>
            <td>
                {{ field.label }}
            </td>
            <td align="right">
                {{ field }}
            </td>
        </tr>
    {% endfor %}
    </table>
    <hr>
    <button class="otree-btn-next btn btn-outline-primary">Next</button>

{% endblock %}
{% block scripts %}
{% endblock %}