{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    Thank you!
{% endblock %}

{% block content %}
    <style>
    .otree-timer {
        display: none;
    }
    </style>
<div class="card card-body bg-light instructions" align="center">
<p>We appreciate that you participated in this study and would like to thank you for your time!</p>
<p>Your participation in this study counts toward our pledged donation to UNICEF.</p>
<p>If you have any questions or remarks, you can contact us via <a target="_blank" rel="noopener noreferrer" href="mailto:accountingstudy@whu.edu">accountingstudy@whu.edu</a></p>
<p>It is now safe to close this window.</p>
</div>
{% endblock %}